#container {
    display: grid;
    grid-template-rows: 100px 600px 100px;
    height: 100%;
}

#header {
    background: #06beb6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    display: grid;
    grid-template-columns: 70% 10% 10% 10%;
    margin: 5px;
}
#title {
    margin: 0;
    font-size: 50px;
}

button {
    height: 80%;
    font-size: 25px;
}

button:focus {
    outline: none;
}

#timer {
}

.flexDisplay {
    margin: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#playGround {
    display: grid;
    grid-template-columns: 50% 50%;
}
#equation {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 5px;
}

.dark-background-1 {
    background: #3C3B3F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

#result {
    margin: 5px;
    background: #3C3B3F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
}

.option {
    margin: 5px;
    background: #FFAFBD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
    font-size: 50px;
}


#footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 30px;
    margin: 5px;
    
}

.footer-ele {
    margin: 5px;
    background: #06beb6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
}

.content {
    font-size: 100px;
}

#res {
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    font-size: 50px;
    width: 250px;
}